// Variavbles
$clean: #A7D2CB;
$butter: #F2D388;
$salmon: #C98474;
$eggplant: #874C62;

// Reset marges
html,
body,
div,
p,
h1,
h2,
ul {
    padding: 0;
    margin: 0;
}

h2{
    text-align: center;
}

// Templates
@mixin main-button{
    background-color: $salmon;
    font-size: 1.5rem;
    padding: 10px 20px;
    transition-duration: 0.4s;
    cursor: pointer;

    &:hover{
        background-color: $eggplant;
    }
}

body{
    background-color: $butter;
    .mainContainer{
        display: flex;
        flex-direction: column;
        align-content: center;

        .header{
            display: flex;
            justify-content: center;
            background-color: $eggplant;

            &__content{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 1200px;
                padding: 30px 0;

                &__right{

                    ul{
                        list-style: none;
                        display: flex;
                        gap: 20px;
                    }
                }
            }
        }

        .moviesBlock{
            width: 1200px;
            margin: auto;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-top: 100px;
            gap: 70px;

            &__highlight{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                width: 60%;
                height: 400px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position-x: right;

                &__description{
                    text-align: center;
                    width: 50%;
                }

                &__buttons{
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    gap: 20px;

                    button{
                        @include main-button();
                    }
                }
            }

            &__categories{
                display: flex;
                flex-direction: column;
                gap: 20px;

                &__category{
                    width: 1200px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    align-items: center;

                    h2{
                        width: 100%;
                    }

                    .arrow{
                        width: 50px;
                        height: 50px;
                        mask-size: contain;
                        mask-repeat: no-repeat;
                        background-color: $eggplant;
                        cursor: pointer;
                    }

                    .carouselContainer{
                        display: flex;
                        justify-content: space-around;
                        height: 300px;
                        width: 1000px;
                        overflow: hidden;

                        .carouselContent{
                            display: flex;
                            width: 1000px;
                            position: relative;
                            left: 0;
                            transition: left .5s;

                            .movie{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                min-width: 250px;

                                .thumbnail{
                                    width: 100%;
                                    height: 80%;
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    background-position: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}